<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>
<body>
<div class="container mt-5">
    <div class="card" style="width: 55rem; ">
        <div class="card-header text-center bg-info ">
            <h3>Register</h3>
        </div>
        <div class="card-body">
            <form method="post" class="mx-1 mx-md-4" th:action="@{/login}" th:object="${users}">
                <div class="mb-3">
                    <label class="form-label" for="firstName">Name </label>
                    <input class="form-control" id="firstName" placeholder="name@example.com" th:field="${name}"
                           th:type="text"/>
                </div>
                
<!--                 <div class="mb-3">
                    <label class="form-label" for="phoneNumber">phone Number</label>
                    <input class="form-control" id="phoneNumber" placeholder="name@example.com" th:field="*{phoneNumber}"
                           th:type="text">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">Email address</label>
                    <input class="form-control" id="email" placeholder="name@example.com" th:field="*{email}"
                           th:type="email">
                </div> -->


                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button class="btn btn-primary btn-lg" type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>